@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  
}

:root {
  --main-color: #008148;
  --second-color: #1e3932;
}

header {
  position: fixed;
  width: 100%;
  height: 10%;
  top: 0px;
  right: 0px;
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 4px 41px rgb(14 55 54 / 14%);
  padding: 10px 2%;
  transition: 0.2s;
}
.navbar {
  display: flex;
}

.navbar a {
  font-size: 1rem;
  padding: 11px 20px;
  font-weight: 800;
  color: var(--second-color);
  text-transform: uppercase;
}
#menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
}

.home {
  background-image: url("images/gambar1.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;
}

.title {
  flex: 1 1 17rem;
  margin-top: 35%;
  margin-left: 5rem;
}
.title h1 {
  font-weight: bolder;
  font-size: 2.1rem;
  color: white;
}
.icon {
  flex: 1 1 17rem ;
}

.about {
  background-color: #eee;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.about h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
}
.about-content {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
  flex-direction: column;
}

.about-content p {
  
  font-size: 1.5rem;
  padding-top: 3rem;
}
.about-content .about-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.about-content .about-img img {
  max-width: 140px;
}
.about-content .about-img figure {
  margin-right: 2rem;
  margin-top: 10px;
}
.about-content .about-img figcaption {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 20px;
}

.hero {
  background-image: url("images/gambar3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
.hero-content {
  padding-top: 20%;
  padding-left: 50%;
  padding-right: 2%;
  color: white;
}
.hero-content h3 {
  
  font-size: 40px;
  text-align: justify;
}
.hero-content h5 {
  
  font-size: 30px;
  margin-top: 20px;
}

.portofolio {
  background-color: #eee;
  padding: 5rem;
}
.portofolio h1 {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.portofolio-img {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.portofolio-img img {
  margin-right: 5rem;
}
.portofolio-content img {
  max-width: 100vh;
}

.expertise {
  background-color: gainsboro;
  padding: 1rem;
  padding-bottom: 3rem;
}
.expertise h1 {
  padding-left: 2rem;
  padding-top: 2rem;
  font-size: 2rem;
}
.expertise-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  
}
.blog {
  background-color: white;
  padding: 3rem;
}

.position {
  background-color: #eee;
  padding: 3rem;
}
.position-content-satu {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 30%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(248, 248, 248, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  border-radius: 10px;
  background-color: white;
  padding: 2rem;
  margin-top: 3rem;
  list-style-type: circle;
}
.card ul li{
  list-style-type: disc;
}
.position-content-satu p {
  font-size: 1.5rem;
  font-weight: bolder;
}
.position-content-satu ul {
  margin-left: 2rem;
}
.position-content-satu li {
  margin-top: 10px;
}

.gallery {
  position: relative;
  width: 100%;
}

.gallery-img {
  position: relative;
  overflow: hidden; 
}

.gallery-img img {
  width: 100%;
  height: 60vh;
  display: block; 
}

.overlay {
  padding: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  color: black; 
}
.overlay h1 {
  margin: 0;
  padding: 10px 20px;
  font-size: 2.5rem;
}

.gallery-content {
  padding-right: 5rem;
  padding-left: 5rem;
  background-color: #eee;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
}
.gallery-content img {
  margin: 30px;
  margin-top: -20%;
  transition: opacity 0.3s ease-in-out;
}

.gallery-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  cursor: pointer;
}

#prev-button {
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#next-button {
  right: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.footer {
  background-color: gray;
  padding: 3rem;
  
}
.footer h1 {
  font-size: 3rem;
  margin-left: 10rem;
  
}
.footer-content {
  display: flex;
  justify-content:space-around;
  margin-top: 3rem;
}

.footer-text h2 {
  font-size: 2rem;
}

.footer-text p {
  font-size: 1.3rem;
  line-height: 2.5rem;
}

.footer-img {
  max-width: 100%;
}
.footer-img img {
  width: 300px;
}
.sosial {
  margin-top: 1rem;
}
.contact-item a{
  color: black;
  font-size: 1.1rem;
}
.bx  {
  font-size: 1.5rem;
}
.sosial a {
  font-size: 1.3rem;
  color: black;
}
























@media screen and (max-width: 600px) {
  .home {
    flex-direction: column;
  }
  .title {
    margin-right: 4rem;
    padding-top: 8rem ;
    padding-right: 1rem;
  }
  .title h1 {
    font-size: 1rem;
    text-align: center;
  }
  .icon img {
    max-width: 200px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-content p {
    text-align: justify;
    font-size: 1.2rem;
  }

  .hero-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9rem;
  }
  .hero-content h3 {
    font-size: 2rem;
    text-align: center;
    padding-top: 10rem;
  }
  .hero-content h5 {
    font-size: 1.5rem;
    text-align: center;
    
  }
 
  .portofolio {
    padding-right: 20px;
    padding-left: 20px;
  }
  .portofolio h1 {
    font-size: 1.8rem;
    text-align: center;
  }
  .portofolio-img {
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
  }
  .portofolio-img img {
    margin-top: 2rem;
  }
  .portofolio-content img {
    max-width: 100%;
  }
  .expertise h1 {
    text-align: center;
    font-size: 2rem;
  }
  
  .expertise-content {
    flex-direction: column;
    
  }
  .blog {
    text-align: center;
    margin-top: 3rem;
  }

  .position {
    padding-left: 20px;
    padding-right: 20px;
  }
  .position-content-satu {
    flex-direction: column;
  }
  .position-content-satu div {
    width: 350px;
    height: 50vh;
    margin-top: 30px;
  }
  .position-content-satu p {
    font-size: 1.8rem;
  }

  .footer h1 {
    font-size: 2rem;
    margin-left: 0;
    text-align: center;
  }
  .footer-text h2 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  .footer-content {
    flex-direction: column;
  }
  .sosial {
    display: flex;
    flex-wrap: wrap;

  }
  .sosial span {
    margin-top: 1rem;
  }
  .footer-img {
    margin-top: 3rem;
  }
  .footer-img img {
    width: 300px;
  }

  .navbar-nav {
    display: block;
    text-align: center;
    align-items: center;
  }
  ul.navbar-nav {
    flex-direction: column;
  }
  li.nav-item {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  a.nav-link {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 768px) {
  .navbar-nav {
    display: block;
    text-align: center;
    align-items: center;
  }
  ul.navbar-nav {
    flex-direction: column;
  }
  li.nav-item {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  a.nav-link {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .navbar-nav {
    display: block;
    text-align: center;
    align-items: center;
  }
  ul.navbar-nav {
    flex-direction: column;
  }
  li.nav-item {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  a.nav-link {
    font-size: 1.3rem;
  }
}

@media(max-width:1150) {
  header {
    padding: 18px 7%;
  }
  section {
    padding: 50px 7%;
  }
  .home-text h1 {
    font-size: 3rem;
  }

  @media (max-width: 991px) {
    header {
      padding: 18px 4%;
    }
    section {
      padding: 50px 4%;
    }
  }
}

@media (max-width: 768px) {
  header {
    padding: 11px 4%;
  }
  #menu-icon {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
    transition: 1s;
    text-align: left;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    color: white;
    padding: 1.3rem;
    display: block;
  }

  .home-text span {
    font-size: 0.9rem;
  }
  .home-text h1 {
    font-size: 2.4rem;
  }
}

@media (max-width: 768px) {
  .home-text {
    padding-top: inherit;
  }
  .shop-container .box {
    margin-top: 6rem;
  }
  .heading h1 {
    font-size: 1.5rem;
  }
  .heading span {
    font-size: 0.9rem;
  }
  .about {
    flex-direction: column-reverse;
  }
}

@media (max-width: 390px) {
  .footer-sosialmedia {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 393px) {
  .footer-sosialmedia {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 412px) {
  .footer-sosialmedia {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 364px) {
  .footer-sosialmedia {
    display: flex;
    flex-direction: column;
  }
}

